.App {
  text-align: center;
  height: 100%;
}

html,body {
  height: 100%;
}

.App-logo {
  height: 30px;
  pointer-events: none;
}

.highZ {
  z-index: 5;
}

.MuiInputLabel-outlined {
  z-index: 0;
}

.float-right {
  float: right
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Sidebar {
  background-image: url("./assets/img/sidebar-4.jpg");
  height: 100%
}

.h-100 {
  height: 100%
}

.sidebarHeader {
  margin: 10px;
}

.sidebarWrapper {
  position: "relative";
  height: "calc(100vh - 75px)";
  overflow: "auto";
  width: "260px";
  z-index: "4";
  -webkit-overflow-scrolling: "touch"
}

.margined {
  margin: 4px
}

.marginLeft {
  margin-left: 10px;
}

.bottomMargin {
  margin-bottom: 10px
}

.MyBorder {
  border: 1px solid rgb(180, 180, 180)!important;
  border-radius: 4px;
}

.MyPadding {
  padding: 10px
}

.Wide12 {
  position: relative;
  width: 100%;
  min-height: 1px;
}
.whiteFont {
  color: white
}
/* .whiteFont :hover {
  color: black
} */
.blackFont {
  color: black
}
.redFont {
  color: red
}
.purple {
  background-color: purple;
}
.purple {
  background-color: purple;
}
.blue {
  background-color: #3f51b5;
}
/* green: {
  backgroundColor: successColor[0];
  boxShadow:
    "0 12px 20px -10px rgba(" +
    hexToRgb(successColor[0]) +
    ",.28), 0 4px 20px 0 rgba(" +
    hexToRgb(blackColor) +
    ",.12), 0 7px 8px -5px rgba(" +
    hexToRgb(successColor[0]) +
    ",.2)";
  "&:hover,&:focus": {
    backgroundColor: successColor[0];
    boxShadow:
      "0 12px 20px -10px rgba(" +
      hexToRgb(successColor[0]) +
      ",.28), 0 4px 20px 0 rgba(" +
      hexToRgb(blackColor) +
      ",.12), 0 7px 8px -5px rgba(" +
      hexToRgb(successColor[0]) +
      ",.2)"
  }
};
orange: {
  backgroundColor: warningColor[0];
  boxShadow:
    "0 12px 20px -10px rgba(" +
    hexToRgb(warningColor[0]) +
    ",.28), 0 4px 20px 0 rgba(" +
    hexToRgb(blackColor) +
    ",.12), 0 7px 8px -5px rgba(" +
    hexToRgb(warningColor[0]) +
    ",.2)",
  "&:hover,&:focus": {
    backgroundColor: warningColor[0];
    boxShadow:
      "0 12px 20px -10px rgba(" +
      hexToRgb(warningColor[0]) +
      ",.28), 0 4px 20px 0 rgba(" +
      hexToRgb(blackColor) +
      ",.12), 0 7px 8px -5px rgba(" +
      hexToRgb(warningColor[0]) +
      ",.2)"
  }
};
red: {
  backgroundColor: dangerColor[0];
  boxShadow:
    "0 12px 20px -10px rgba(" +
    hexToRgb(dangerColor[0]) +
    ",.28), 0 4px 20px 0 rgba(" +
    hexToRgb(blackColor) +
    ",.12), 0 7px 8px -5px rgba(" +
    hexToRgb(dangerColor[0]) +
    ",.2)";
  "&:hover,&:focus": {
    backgroundColor: dangerColor[0];
    boxShadow:
      "0 12px 20px -10px rgba(" +
      hexToRgb(dangerColor[0]) +
      ",.28), 0 4px 20px 0 rgba(" +
      hexToRgb(blackColor) +
      ",.12), 0 7px 8px -5px rgba(" +
      hexToRgb(dangerColor[0]) +
      ",.2)"
  }
};
sidebarWrapper: {
  position: "relative";
  height: "calc(100vh - 75px)";
  overflow: "auto";
  width: "260px";
  zIndex: "4";
  overflowScrolling: "touch"
}; */
.activePro {
  position: "absolute";
  width: "100%";
  bottom: "13px"
}

.curvedButton {
  border-radius: 10px !important;
}

.blueHover {
  background-color: #3f51b5;
}

.w-200 {
  width: 200px
}

.Sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.main {
  margin-left: 200px; /* Same as the width of the Sidebar */
}

.paper {
  position: 'absolute';
  width: 400px;
  background-color: white;
  border: '2px solid #000';
  /* box-shadow: theme.shadows[5], */
  padding: 16px 32px 24px
}

.MuiListItemText-root {
  margin-bottom: 0px;
}

.MyButton-root {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  text-decoration: none;
}

.MyButton {
  width: 220px;
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.BlackTextButton {
  width: 220px;
  color: #000;
  background-color: #3f51b5;
  font-weight: bold;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.MySmallerButton {
  width: 140px;
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}