node_modules/
/client/node_modules
/client_old/
/client_new/
.elasticbeanstalk/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
temp.json
temp.html
